absl-py==0.10.0
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
attrs==20.3.0
audiomentations==0.15.0
audioread==2.1.9
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
decorator==4.4.2
fakeredis==1.4.5
fitipy==0.1.2
future==0.18.2
gast==0.2.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.34.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.3.0
joblib==1.0.0
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lameenc @ file:///home/xavier/Documents/lameenc/build/lameenc-v1.2.2.devb2e34744-cp36-cp36m-linux_aarch64.whl
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.3.3
-e git+https://github.com/MatthewScholefield/mycroft-precise@3ea6846ab1f677c2da587a8d230ff0ec4368fbf7#egg=mycroft_precise
numba==0.48.0
numpy==1.16.0
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.8
pooch==1.3.0
-e git+https://github.com/MatthewScholefield/mycroft-precise@3ea6846ab1f677c2da587a8d230ff0ec4368fbf7#egg=precise_runner&subdirectory=runner
prettyparse==1.2.0
protobuf==3.14.0
pyache==0.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pydub==0.24.1
pyloudnorm==0.1.0
pyparsing==2.4.7
PyYAML==5.3.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sonopy==0.1.2
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
speechpy-fast==2.4
tensorboard==1.15.0
tensorboard-plugin-wit==1.7.0
tensorflow==1.15.2+nv20.6
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.2
wavio==0.0.4
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
